<a href="https://colab.research.google.com/github/dsnnaveen/Videos/blob/master/1_r_notebook_from_23_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
5+5

[1] 10

In [2]:
"hello world !"

[1] "hello world !"

In [3]:
5
1
2
23
44

[1] 5

[1] 1

[1] 2

[1] 23

[1] 44

In [4]:
5+100

[1] 105

In [6]:
# u can output the code without using print functio in r 
"hello world"

[1] "hello world"

In [9]:
print("hello world")

[1] "hello world"

In [10]:
for(x in 1:10){
  print(x)
}
#  to print inside the curly braces must use print statement

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [11]:
# this is a comment
# comments start with # in r 
"hello world"

[1] "hello world"

In [12]:
# for multiline comments also use # as many tmes u need to comment 
# there is no specific rule for to multiline comment unlike other languages like java, pyhton
# This is a comment
# written in
# more than just one line
"Hello World!"

[1] "Hello World!"

In [14]:
name <- "naveen"
age <- 23
name 
age

[1] "naveen"

[1] 23

In [17]:
# varibles are containers for storing data values
# we use both = & <- in r but = forbidden in some context
name <- "dsn"
name
print(name)

[1] "dsn"

[1] "dsn"

In [18]:
#  u must use r
for (i in 1:10){
  print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [19]:
# paste() - conctenate, join two or more elements here elements are seperated by commac
# conacatenate elements should be in same format otherwise it will give error
text <- "awesome"
paste("r is ", text)

[1] "r is  awesome"

In [20]:
text1 <- "R is"
text2 <- "awesome"

paste(text1, text2)

[1] "R is awesome"

In [21]:
# For numbers, the + character works as a mathematical operator:
num1 <- 5
num2 <- 10

num1 + num2

[1] 15

In [22]:
num <- 5
text <- "Some text"

num + text

ERROR: ignored

In [23]:
# Assign the same value to multiple variables in one line
var1 <- var2 <- var3 <- "Orange"

# Print variable values
var1
var2
var3

[1] "Orange"

[1] "Orange"

[1] "Orange"

varble name rules


1.   it can contain letters, numbers , period(.) symbol, underscore(_)
2. it can start with letters and period symbol but if it stated with period symbol it cannot followed by number
3. u can't use reserve words for varible names
eg . TRUE, FALSE,NULL,if

4. variables are case sensitive

In [25]:
# Legal variable names:
myvar <- "John"
my_var <- "John"
myVar <- "John"
MYVAR <- "John"
myvar2 <- "John"
.myvar <- "John"

In [26]:
# Illegal variable names:
2myvar <- "John"
my-var <- "John"
my var <- "John"
_my_var <- "John"
my_v@ar <- "John"
TRUE <- "John"

ERROR: ignored

In [28]:
.2ann <- "naveen"

ERROR: ignored

In [30]:
.ann <- 'naveen'
.ann

[1] "naveen"

In [1]:
.ann2 <- "naveen"
.ann2

[1] "naveen"

In [1]:
my_var <- 30 # my_var is type of numeric
my_var <- "Sally" # my_var is now of type character (aka string)

1. numeric - (10.5, 55, 787)
2. integer - (1L, 55L, 100L, where the letter "L" declares this as an integer)
3. complex - (9 + 3i, where "i" is the imaginary part)
4. character (a.k.a. string) - ("k", "R is exciting", "FALSE", "11.5")
5. logical (a.k.a. boolean) - (TRUE or FALSE)

In [2]:
# a.k.a means as known as 
# class()- for check the datatype
# numeric
x <- 10.5
class(x)

# integer
x <- 1000L
class(x)

# complex
x <- 9i + 3
class(x)

# character/string
x <- "R is exciting"
class(x)

# logical/boolean
x <- TRUE
class(x)

[1] "numeric"

[1] "integer"

[1] "complex"

[1] "character"

[1] "logical"

In [ ]:
# three number types in R
x <- 10.5   # numeric
y <- 10L    # integer
z <- 1i     # complex

In [3]:
# numeric is similar to float in other languages
x <- 10.5
y <- 55

# Print values of x and y
x
y

# Print the class name of x and y
class(x)
class(y)

[1] 10.5

[1] 55

[1] "numeric"

[1] "numeric"

In [4]:
# integers are numeric data without decimals
x <- 1000L
y <- 55L

# Print values of x and y
x
y

# Print the class name of x and y
class(x)
class(y)

[1] 1000

[1] 55

[1] "integer"

[1] "integer"

In [5]:
# A complex number is written with an "i" as the imaginary part:


x <- 3+5i
y <- 5i

# Print values of x and y
x
y

# Print the class name of x and y
class(x)
class(y)

[1] 3+5i

[1] 0+5i

[1] "complex"

[1] "complex"

Type conversion
1. as.numeric()
2. as.integer()
3. as. complex()
we can convert some types only not all

In [6]:
x <- 1L # integer
y <- 2 # numeric

# convert from integer to numeric:
a <- as.numeric(x)

# convert from numeric to integer:
b <- as.integer(y)

# print values of x and y
x
y

# print the class name of a and b
class(a)
class(b)

[1] 1

[1] 2

[1] "numeric"

[1] "integer"

In [7]:
10+5
10-5
10*3
10/4

[1] 15

[1] 5

[1] 30

[1] 2.5

In [9]:
# R has lot of built in math functions
# it returns the max num
max(5, 10, 15)
# it returns the min num
min(5, 10, 15)
# it returns the sqrt of the num
sqrt(16)
# returns the abosolute positive num
abs(-4.7)
# ceiling  - it means it rooun the nearest upward integer
ceiling(1.4)
# floor - it rounds to the nearest bottom integer
floor(1.4)

[1] 15

[1] 5

[1] 4

[1] 4.7

[1] 2

[1] 1

In [10]:
# character or string denote by  single or double codes
"hello"
'heelo'

[1] "hello"

[1] "heelo"

In [11]:
str <- "hello"
str

[1] "hello"

In [12]:
str <- "Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."

str # print the value of str

[1] "Lorem ipsum dolor sit amet,\nconsectetur adipiscing elit,\nsed do eiusmod tempor incididunt\nut labore et dolore magna aliqua."

In [14]:
# cat() - to insert line breaks at the same position in the code
str <- "Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."

cat(str)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [15]:
# nchar()- find the num of characters in a string
str <- "Hello World!"

nchar(str)

[1] 12

In [16]:
# grepl() - to check a character or string present  in the string
str <- "Hello World!"

grepl("H", str)
grepl("Hello", str)
grepl("X", str)

[1] TRUE

[1] TRUE

[1] FALSE

In [17]:
# paste()- we can merge/concatenate two strings
str1 <- "Hello"
str2 <- "World"

paste(str1, str2)

[1] "Hello World"

1. To insert characters that are illegal in a string, you must use an escape character.

2. An escape character is a backslash \ followed by the character you want to insert.

3. An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [18]:
str <- "We are the so-called "Vikings", from the north."

str

ERROR: ignored

In [19]:
# To fix this problem, use the escape character \":
str <- "We are the so-called \"Vikings\", from the north."

str
cat(str)

[1] "We are the so-called \"Vikings\", from the north."

We are the so-called "Vikings", from the north.

Booleans (Logical Values)
In programming, you often need to know if an expression is true or false.

You can evaluate any expression in R, and get one of two answers, TRUE or FALSE.

When you compare two values, the expression is evaluated and R returns the logical answer:

In [20]:
10 > 9    # TRUE because 10 is greater than 9
10 == 9   # FALSE because 10 is not equal to 9
10 < 9    # FALSE because 10 is greater than 9

[1] TRUE

[1] FALSE

[1] FALSE

In [21]:
a <- 10
b <- 9

a > b

[1] TRUE

In [22]:
a <- 200
b <- 33

if (b > a) {
  print ("b is greater than a")
} else {
  print("b is not greater than a")
}

[1] "b is not greater than a"

#R Operators
##Operators
1. Operators are used to perform operations on variables and values.

2. In the example below, we use the + operator to add together two values:

In [23]:
10+5

[1] 15

R divides the operators in the following groups:

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Miscellaneous operators

In [24]:
# arthimetic operators
# Arithmetic operators are used with numeric values to perform common mathematical operations:
a <- 10
b <- 5
a+b   # 15

a-b   # 5

a*b   # 50

a/b   # 2

a^b   #100000

a%%b   # modulus Or reminder value - 0

a%/%b  # integer part of coffecient 7

[1] 15

[1] 5

[1] 50

[1] 2

[1] 1e+05

[1] 0

[1] 2

In [26]:
3.8 %/% 2

[1] 1

In [27]:
# R Assignment Operators
# Assignment operators are used to assign values to variables:

my_var <- 3

my_var <<- 3

3 -> my_var

3 ->> my_var

my_var # print my_var


# It is also possible to turn the direction of the assignment operator.

# x <- 3 is equal to 3 -> x   <<- is global assinger

[1] 3

In [29]:
# R Comparison Operators
# Comparison operators are used to compare two values:
a = 10
b = 5
a == b

a != b

a > b

a < b

a >= b

a <= b

[1] FALSE

[1] TRUE

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

In [31]:
#R Logical Operators
##Logical operators are used to combine conditional statements:

# Operator	Description
# &	        Element-wise Logical AND operator. It returns TRUE if both elements are TRUE
# &&	      Logical AND operator - Returns TRUE if both statements are TRUE
# |	         Elementwise- Logical OR operator. It returns TRUE if one of the statement is TRUE
# ||	       Logical OR operator. It returns TRUE if one of the statement is TRUE.
# !	         Logical NOT - returns FALSE if statement is TRUE

In [32]:
#  miscellaneous operators - manipulate the data
x <- -1:10 # to create a series of numbers in a sequence
x
# %in%	Find out if an element belongs to a vector	x %in% y
# %*%	Matrix Multiplication	x <- Matrix1 %*% Matrix2

 [1] -1  0  1  2  3  4  5  6  7  8  9 10

In [33]:
a <- 33
b <- 200

if (b > a) {
  print("b is greater than a")
}

[1] "b is greater than a"

In [34]:
# {} - to define the scope in the code
a <- 33
b <- 33

if (b > a) {
  print("b is greater than a")
} else if (a == b) {
  print ("a and b are equal")
}

[1] "a and b are equal"

In [35]:
a <- 200
b <- 33

if (b > a) {
  print("b is greater than a")
} else if (a == b) {
  print("a and b are equal")
} else {
  print("a is greater than b")
}

[1] "a is greater than b"

In [36]:
a <- 200
b <- 33

if (b > a) {
  print("b is greater than a")
} else {
  print("b is not greater than a")
}

[1] "b is not greater than a"

In [37]:
# nested if statements
x <- 41

if (x > 10) {
  print("Above ten")
  if (x > 20) {
    print("and also above 20!")
  } else {
    print("but not above 20.")
  }
} else {
  print("below 10.")
}

[1] "Above ten"
[1] "and also above 20!"

In [38]:
a <- 200
b <- 33
c <- 500

if (a > b & c > a){
  print("Both conditions are true")
}

[1] "Both conditions are true"

In [39]:
a <- 200
b <- 33
c <- 500

if (a > b | a > c){
  print("At least one of the conditions is true")
}

[1] "At least one of the conditions is true"

R has two loop commands:

1. while loops - uncounable loop 
2. for loops -  countable loop

In [40]:
i <- 1
while (i < 6) {
  print(i)
  i <- i + 1
}
# Note: remember to increment i, or else the loop will continue forever.

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [41]:
# With the break statement, we can stop the loop even if the while condition is TRUE:
i <- 1
while (i < 6) {
  print(i)
  i <- i + 1
  if (i == 4) {
    break
  }
}

[1] 1
[1] 2
[1] 3

In [42]:
# With the next statement, we can skip an iteration without terminating the loop:
# it is similar ot continue in python
i <- 0
while (i < 6) {
  i <- i + 1
  if (i == 3) {
    next
  }
  print(i)
}

[1] 1
[1] 2
[1] 4
[1] 5
[1] 6

Yahtzee!
1. If .. Else Combined with a While Loop
To demonstrate a practical example, let us say we play a game of Yahtzee!

In [43]:
dice <- 1
while (dice <= 6) {
  if (dice < 6) {
    print("No Yahtzee")
  } else {
    print("Yahtzee!")
  }
  dice <- dice + 1
}

[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "Yahtzee!"

In [44]:
# A for loop is used for iterating over a sequence:
for (x in 1:10) {
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [47]:
fruits <- list("apple", "banana", "cherry")
fruits
# print(fruits)
for (x in fruits) {
  print(x)
}

[[1]]
[1] "apple"

[[2]]
[1] "banana"

[[3]]
[1] "cherry"

[1] "apple"
[1] "banana"
[1] "cherry"

In [48]:
dice <- c(1, 2, 3, 4, 5, 6)

for (x in dice) {
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6